<!DOCTYPE html>
<html>
<head>
	<title>Not Found</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	<style>
	html, body {
		height: 100%;
	}

	body {  
		font-family: 'Roboto', sans-serif;
		font-weight:400;
		font-size:0.875em;
		letter-spacing:0.063em;
		margin: 0;
		padding: 0;
		width: 100%;
		color: #B0BEC5;
		display: table;
		font-weight: 100;
	}
	h1 {
		font-weight:900;font-size:3.25em;margin-bottom:auto;text-shadow:2px 3px 0px #898999;line-height:1.2;
	}

	.content {
		text-align: center;
		display: inline-block;
	}

	.title {
		font-size: 72px;
		margin-bottom: 40px;
	}
</style>
</head>
<body>
	<div class="content">
		<div class="title"><a href="https://github.com/BlazeCoderLab/CoinFlow-Faucet-Script"><h1>CoinFlow Faucet Script</h1></a></div>
	</div>
</body>
</html>